@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f5f5f5;
  --card: #ffffff;
  --accent: #df6d0e;
  --muted: #374151;
  --text: #1f2937;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
